@model IEnumerable<SakuraSushi.Domain.MenuItem>
@{
    ViewData["Title"] = "Search Menu";
}
<h1>Search Menu</h1>

<form method="get" class="mb-3">
    <input class="form-control" name="q" value="@ViewBag.Query" placeholder="Search sushi..." />
</form>

<table class="table table-striped">
    <thread><tr><th>Name</th><th>Description</th><th>Price</th></tr></thread>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.GetDisplayName()</td>
                <td>@m.Description</td>
                <td>@m.Price.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
